<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>promo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card>
      <ion-button class="card-cart"><ion-icon  name="cart"></ion-icon></ion-button>
      <img src="../../assets/img/promo/2000.jpg"/>
      <div class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  
    <ion-card>
      <ion-button class="card-cart"><ion-icon  name="cart"></ion-icon></ion-button>
      <img src="../../assets/img/promo/2000.jpg"/>
      <div class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  
    <ion-card>
      <ion-button class="card-cart"><ion-icon  name="cart"></ion-icon></ion-button>
      <img src="../../assets/img/promo/2000.jpg"/>
      <div class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  
    <ion-card>
      <ion-button class="card-cart"><ion-icon  name="cart"></ion-icon></ion-button>
      <img src="../../assets/img/promo/2000.jpg"/>
      <div class="card-title">Madison</div>
      <div class="card-subtitle">28 Listings</div>
    </ion-card>
  
  </ion-content>
