<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>payement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5 text-center>Selectionner Payement mode</h5>
  <ion-card>
      <ion-radio-group>
      <ion-item>
        <ion-radio value="CASH"></ion-radio> 
        <ion-icon name="cash"></ion-icon> 
        <ion-label>CASH</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="T-money"></ion-radio> 
        <ion-icon name="phone-portrait"></ion-icon> 
        <ion-label>TMONEY</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="duesenberg"></ion-radio> 
        <ion-icon name="card"></ion-icon>
        <ion-label>CREDIT CARD</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-card>


  <ion-button expand="full" (click) = "confirmation()">confirmer</ion-button>


</ion-content>
