<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Restaurants</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content fullscreen class="contentBody">
    <ion-grid>
      <ion-row no-padding class="row_slider">
          <ion-col>
              <ion-slides pager="true"  slidesPerView=1 [options]="slideOpts">
                  <ion-slide *ngFor="let img of images">
                      <img src="../../assets/img/animee/{{img}}">
                  </ion-slide>
                </ion-slides>
            </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngFor="let cat of items" class="category-block">
      <ion-row no-padding class="category-banner">
        <ion-col text-center button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
          {{ cat.category }}
        </ion-col>
      </ion-row>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let product of cat.products">
          <div *ngIf="cat.expanded">
            <ion-card class="card-background-page">
                <ion-badge slot="end" class="formulPrice">35 min</ion-badge>
                <img src={{product.menutImage}}/>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="7">
                        <ion-card-title>{{ product.name }}</ion-card-title>
                      </ion-col >
                      <ion-col size="5">
                        <h6>
                            {{ product.price }}cfa
                        </h6>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="8">
                          <p>Pizza+Salade+jus</p>
                      </ion-col >
                      <ion-col size="4">
                        <ion-button shape="round" class="formulBntAjoute" (click)="addToCart(product)" >
                          <ion-icon slot="icon-only" name="cart"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
                
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>
    </div >
    <h6 class="restaurant" text-center>LES RESTAURANTS</h6>
    <div>
        <ion-card class="card-background-page" *ngFor="let restau of listRestaurant" (click)="opendetail(restau)">
            <ion-badge slot="end" class="formulPrice">30 min</ion-badge>
            <img src={{restau.firstImage}}/>
            <ion-card-content >
                <ion-card-title>
                {{restau.name}}
                </ion-card-title>
                <ion-row>
                    <ion-col>
                        <p>{{restau.specialiter}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                    <ion-icon name="star" color="warning"></ion-icon>
                <span item-start>{{restau.note}} * $$$ </span>
                </ion-col>
            </ion-row>
            </ion-card-content>
          </ion-card>
    </div>
  


</ion-content>
