<ion-header>
  <ion-toolbar>
    <ion-title>
     PAYS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
      <ion-radio-group>
        <ion-item (click)="openlocal()" >
          <ion-radio value="togo"></ion-radio>&nbsp;&nbsp;
          <ion-label>TOGO</ion-label>
          <ion-avatar item-rigth>
              <img src="../../assets/img/tg.gif">  
            </ion-avatar>
        </ion-item>
    
        <ion-item (click)="openlocal()">
          <ion-radio value="benin"></ion-radio>&nbsp;&nbsp;
          <ion-label>BENIN</ion-label>
          <ion-avatar item-left>
              <img src="../../assets/img/Benin.png">   
            </ion-avatar>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    
</ion-content>
