<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bonjour, please 
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
   <ion-list>
      <ion-radio-group>
        <ion-list-header>
            <h4 text-center>Bonjour, SVP Selectionne  pays</h4>
        </ion-list-header>
    
        <ion-item (click)="openlocal()" >
          <ion-radio value="togo"></ion-radio>
          <ion-label>TOGO</ion-label>
          <ion-avatar item-rigth>
              <img src="../../assets/img/tg.gif">  
            </ion-avatar>
        </ion-item>
    
        <ion-item (click)="openlocal()">
          <ion-radio value="benin"></ion-radio>
          <ion-label>BENIN</ion-label>
          <ion-avatar item-left>
              <img src="../../assets/img/Benin.png">   
            </ion-avatar>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    
</ion-content>
